@import "../global.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $primary-color;
  padding: 2rem 0;
  background-color: $theme-color;
  width: $container--width;
  margin: 0 auto;
  transition: 0.5s all ease;

  .logo {
    font-size: 2rem;
    font-weight: 900;
  }

  .login-btn {
    cursor: pointer;
    background-color: $primary-color;
    color: $font-color;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 1rem 1.6rem;
    border-radius: 4rem;
    letter-spacing: 0.5px;
    border: none;
    transition: 0.3s all;

    &:hover {
      color: $theme-color;
      box-shadow: $cta--box-shadow;
    }
  }

  .nav-btn {
    position: absolute;
    top: 1rem;
    right: 3rem;
    display: none;
    background-color: none;
    border: none;
    cursor: pointer;
    padding: 1rem;
    background-color: $theme-color;

    .bar {
      display: block;
      width: 2rem;
      height: 0.2rem;
      background-color: $primary-color;
      margin: 0.5rem auto;
      transition: 0.3s ease, opacity 0.3s ease;

      &.cross1 {
        transform: rotate(-45deg) translate(-0.5rem, 0.5rem);
      }
      &.cross2 {
        opacity: 0;
      }
      &.cross3 {
        transform: rotate(45deg) translate(-0.5rem, -0.5rem);
      }
    }
  }

  .nav-links {
    list-style: none;
    display: flex;
    align-items: center;

    &.open {
      display: block;
      animation: slideIn 0.5s forwards;
    }

    li {
      margin-right: 3.6rem;

      a {
        text-decoration: none;
        color: $primary-color;
        font-size: 1.6rem;
        font-weight: 600;
        letter-spacing: -0.5px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  @media (max-width: 75em) {
    flex-direction: column;
    align-items: flex-start;

    .logo {
      margin-left: 3rem;
    }

    .login-btn {
      position: absolute;
      top: 1.5rem;
      right: 10rem;
    }

    .nav-btn {
      position: absolute;
      top: 1rem;
      right: 3rem;
      display: block;
    }

    .nav-links {
      display: none;
      margin-top: 1rem;
      flex-direction: column;
      align-items: flex-start;
    }

    li {
      margin-right: 0;
      margin-bottom: 1rem;

      a {
        font-size: 1.4rem;
      }
    }

    .navbar.open {
      .nav-links {
        display: block;
      }

      .nav-btn {
        &.cross1 {
          transform: rotate(-90deg) translate(-0.5rem, 0.5rem);
        }
        &.cross2 {
          opacity: 0;
        }
        &.cross3 {
          transform: rotate(90deg) translate(-0.5rem, -0.5rem);
        }
      }
    }
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
